<!doctype html>
<html>
<head>
    <title>Scoreboard</title>
    <style style="text/css">
  	.hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	.hoverTable td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	/* Define the default color for all the table rows */
	.hoverTable tr{
		background: #b8d1f3;
	}
	/* Define the hover highlight color for the table row */
    .hoverTable tr:hover {
          background-color: #ffff99;
    }
</style>

<table class="hoverTable">
	<tr>
		<td>Team Number: <%= scoreboard.team %></td>
	</tr>
	<tr>
		<tdCorrectness: <%= scoreboard.correctness %></td>
	</tr>
	<tr>
		<td>Creativity: <%= scoreboard.creativity %></td>
	</tr>
	<tr>
		<td>Relevance: <%= scoreboard.relevance %></td>
	</tr>
	<tr>
		<td>Sustainability: <%= scoreboard.sustainability %></td>
	</tr>
	<tr>
		<td>UserExperience: <%= scoreboard.userExperience %></td>
	</tr>
</table>
<% if current_user?(scoreboard.user) %>
     <center> <%= link_to "delete", scoreboard, method: :delete,
                                       data: { confirm: "You sure?" } %> </center>
    <% end %>                         
   

